In [5]:
import pandas as pd

def create_df_fake(file):
    with open (file, 'rt') as in_file:
        title=[]
        content=[]
        word1 = "'Title':"
        word2 ="'Image'"

        cword1 = "'Content':"
        cword2= "'Link':"# Open file lorem.txt for reading of text data.
        for line in in_file: # Store each line in a string variable "line"
            a=line.find(word1)
            b=line.find(word2)
            c=line.find(cword1)
            d=line.find(cword2)

            title.append(line[a+8:b])
            content.append(line[c+10:d])
        df = pd.DataFrame()
        df['Title'] = title
        df['Content'] = content
    return df

In [6]:
def create_df_real(file):
    with open ('Real.txt', 'rt') as in_file:
        title=[]
        content=[]
        word1 = "u'title_full':"
        word2 =", u'spam_score':"

        cword1 = "u'text':"
        cword2= ", u'img_tags'"# Open file lorem.txt for reading of text data.
        for line in in_file: # Store each line in a string variable "line"
            a=line.find(word1)
            b=line.find(word2)
            c=line.find(cword1)
            d=line.find(cword2)

            title.append(line[a+17:b])
            content.append(line[c+11:d])
            df = pd.DataFrame()
        df['Title'] = title
        df['Content'] = content
    return df

In [7]:
fake = create_df_fake('Fake.txt')
real = create_df_real('Real.txt')

In [8]:
fake.head()

,Title,Content
0,"""\nWas a Zambian Man Arrested After Boasting ...",'A Zambian man has been arrested by authoriti...
1,'\nDid London\xe2\x80\x99s Mayor Encourage Mu...,'\nLondon Muslim mayor incited Islamic-based ...
2,"""\nIs Sarah Huckabee Sanders Being Replaced?\...",'\nRumor has it that Sarah Huckabee Sanders h...
3,'\nDid a Spider in a Tampon Result in a Distu...,"'So, now here I am sitting on the toilet with..."
4,'\nDid Melania Hit Donald Trump with a \xe2\x...,'\nDonald does his best to play nice with his...

In [9]:
real.head()

,Title,Content
0,Greece: 3 convicted in videotaped beating of m...,"THESSALONIKI, Greece \u2014 Three men have bee..."
1,The Latest: Syria's Assad meets with Putin env...,BEIRUT \u2014 The Latest on Syria developments...
2,Trump Gloats: 'Look How Things Turned Around o...,By Tyler Durden / ZeroHedge\nContinuing his gl...
3,NFL owners adopt new policy to address anthem ...,Atlanta \u2022 The NFL and the owners of its 3...
4,Days of Hate #5 review',"Days of Hate #5 review The Good, The Bad, and ..."